<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>
    <div class="form">
        <form action="/insert" method="post">
            <div class="title">Enter Details</div>
            <div class="input-container ic1">
                <input id="firstname" class="input" name="name" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="name" class="placeholder">College Name</label>
            </div>
            <div class="input-container ic2">
                <input id="lastname" class="input" name="email" type="email" placeholder=" " />
                <div class="cut"></div>
                <label for="email" class="placeholder">Email</label>
            </div>
            <div class="input-container ic2">
                <input id="code" class="input" name="code" type="number" placeholder=" " />
                <div class="cut"></div>
                <label for="code" class="placeholder">Code</label>
            </div>
            <div class="input-container ic2">
                <input id="code" class="input" name="location" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="location" class="placeholder">Location</label>
            </div>
            <button type="submit" class="submit">Insert</button>
        </form>
    </div>
    {% if colleges %}
    <div>
        <table class="container">
            <tr>
                <th>College Name</th>
                <th>Email</th>
                <th>Code</th>
                <th>Location</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for college in colleges %}
            <tr>
                <td>{{ college.name }}</td>
                <td>{{ college.email }}</td>
                <td>{{ college.code }}</td>
                <td>{{ college.location }}</td>
                <td>
                    <form action="/updatepage" method="post">
                        <input type="hidden" name="id" value="{{ college._id }}">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                <td>
                    <form action="/delete" method="post">
                        <input type="hidden" name="id" value="{{ college._id }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
</body>

</html>